/* Button */
button {
   vertical-align: middle;
   border: 0;
   background: none;
   white-space: nowrap;
   outline: none;
   cursor: pointer;
}
.btn {
   display: inline-flex;
   align-items: center;
   overflow: visible;
   position: relative;
   min-height: 38px;
   margin: 0;
   padding: 8px 16px;
   font-size: $fs-xs;
   font-weight: $fw-m;
   letter-spacing: -0.49px;
   line-height: 1.4;
   vertical-align: middle;
   border: 0;
   border-radius: 4px;
   background: none;
   white-space: nowrap;
   outline: none;
   cursor: pointer;
   transition: background-color 0.3s ease-out 0s, border-color 0.3s ease-out 0s;
   &:not(.btn_icon) {
      i[class*="ico_"].is_left {
         margin-right: 4px;
      }
      i[class*="ico_"].is_right {
         margin-left: 4px;
      }
   }
   //Size
   &_xl {
      min-height: 56px;
      padding: 14px 16px;
      font-size: $fs-sm;
      line-height: 1.44;
      letter-spacing: -0.63px;
      &.btn_icon {
         width: 56px;
         height: 56px;
         padding: $sp04;
      }
      @media screen and (max-width: $breakpoint-tablet){
        font-size: $fs-s;
      }
   }
   &_lg {
      min-height: 50px;
      padding: 12px 16px;
      font-size: $fs-s;
      line-height: 1.5;
      letter-spacing: -0.56px;
      &.btn_icon {
         width: 50px;
         height: 50px;
         padding: 0 $sp05;
      }
   }
   &_md {
      min-height: 44px;
      padding: 10px 16px;
      font-size: $fs-xs;
      line-height: 1.43;
      letter-spacing: -0.49px;
      &.btn_icon {
         width: 44px;
         height: 44px;
         padding: 6px;
      }
   }
   &_sm {
      min-height: 38px;
      padding: 8px 16px;
      font-size: $fs-xs;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: -0.49px;
      &.btn_icon {
         width: 38px;
         height: 38px;
         padding: $sp02;
      }
   }
   &_xs {
      min-height: 32px;
      padding: 6px 16px;
      font-size: $fs-xxs;
      font-weight: $fw-n;
      line-height: 1.5;
      letter-spacing: -0.42px;
   }

   //Color
   &_primary {
      color: $color-white !important;
      border: 1px solid $color-primary;
      background-color: $color-primary;
      &:hover {
         border-color: darken($color-primary, 10%);
         background-color: darken($color-primary, 10%);
      }
   }
   &_secondary {
      color: $color-white !important;
      border: 1px solid $gray-600;
      background-color: $gray-600;
      &:hover {
         border-color: $gray-600;
         background-color: $gray-600;
      }
   }
   &_normal {
      color: $gray-600 !important;
      border: 1px solid $gray-50;
      background-color: $gray-50;
      &:hover {
         border-color: $gray-100;
         background-color: $gray-100;
      }
   }
   &_border {
      color: $gray-300;
      border: 1px solid transparent;
      background-color: $color-white;
      transition: all 0.3s linear;
      min-height: 0;
      padding: 0;
      &:hover {
        color: $gray-600;
      }
      &.active {
        border: 1px solid  $gray-600;
        color: $gray-600;
        padding: 8px 16px;
      }
   }
   &_green {
      color: $color-white !important;
      border: 1px solid $color-green;
      background-color: $color-green;
      &:hover {
         border-color: darken($color: $color-green, $amount: 5);
         background-color: darken($color: $color-green, $amount: 5);
      }
   }
   &_white {
      color: $gray-500 !important;
      border: 1px solid $color-white;
      background-color: $color-white;
   }
   //disabled
   &_disabled {
      color: $gray-300 !important;
      border: 1px solid $gray-50;
      background-color: $gray-50;
      *[class*=ico_]{
         &::before {
            background-color: $gray-300 !important;
         }
      }
      &:hover{
         border: 1px solid $gray-50;
         background-color: $gray-50;
      }
      &.btn_border {
         border-color: $gray-100;
         background-color: transparent;
         &:hover {
            border-color: $gray-100;
            background-color: $color-white;
         }
      }
   }
   //radius
   &_radius {
      border-radius: 100px;
   }
   //아이콘만 있는 버튼
   &.btn_icon {
      justify-content: center;
      border: 1px solid $gray-400;
      &.btn_srl_down, &.btn_srl_top{
        width: 35px;
        min-height: 35px;
        padding: 4px;
      }
      &.btn_srl_down{
        border: 1px solid $color-white;
        i[class*="ico_"]::before{
          background-color: $color-white;
        }
      }
      i {
         &[class*="ico_16"] {
            margin: $sp02;
         }
      }
   }   
   //Button Group
   &_group {
      @include flexStart;
      button + button {
         margin-left: $sp03;
      }
   }
   //Text Button
   &.btn_text{
    padding: 0;
    min-height: auto;
    text-transform: uppercase;
    span{
      display: inline-block;
    }
    .ico_arr_right{
      border-radius: 100%;
      background-color: $gray-600;      
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include iconImgPath("ico_arr_right.svg");
        transform: translate3d(-100%, -50%, 0);
      }
      &::before, &::after {
        mask-size: 80%;
        mask-position:center;
        background-color: $color-white;
      }
    }
    &.btn_white{
      background-color: transparent;
      color: $color-white;
      border: 0;
      span{
        color: $color-white;
      }
      .ico_arr_right{
        border-radius: 100%;
        background-color: $color-white;
        &::before, &::after {
          mask-size: 80%;
          mask-position:center;
          background-color: $gray-600;
        }
      }
    }
   }
}
// 햄버거 버튼
.btn_hamburger{
  display: flex;
  width: 20px;
  flex-direction: column;
  gap: 4px; 
  span{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $gray-600;
    transition: background-color 0.2s;
  }
  
  &.is_closed{
    span{
      &:nth-last-child(2){
        opacity: 1;
        transition: opacity 0.1s;
      }
    }
    .left{
      top: 0px;
      transform: rotate(0deg); 
      transition: top 0.3s 0.3s, transform 0.3s;
    }
    .right{
      top: 0px;
      transform: rotate(0deg);
      transition: top 0.3s 0.3s, transform 0.3s;        
    }
  }
  &.is_open{
    span{
      &:nth-last-child(2){
        opacity: 0;
        transition: opacity 0.1s;
      }
    }
    .left{
      top: 5px;      
      transform: rotate(45deg);
      transition: top 0.3s, transform 0.3s 0.3s;    
    }
    .right{
      top: -5px;      
      transform: rotate(-45deg);
      transition: top 0.3s, transform 0.3s 0.3s;
    }
  }


  /* &.is_closed{
    span{
      &:nth-last-child(2){
        opacity: 1;
      }
    }
    .left{
      animation: ham_left 0.3s 0.2s reverse;
    }
    .right{
      animation: ham_right 0.3s 0.2s reverse;
    }
  }
  &.is_open{
    span{
      &:nth-last-child(2){
        opacity: 0;
      }
      &.left{
        animation: ham_left 0.3s forwards;

      }
      &.right{
        animation: ham_right 0.3s forwards;
      }
    }
  }
  @keyframes ham_left {
    0%{transform: translateY(0px) rotate(0deg);}
    60%{transform: translateY(5px)}
    100%{transform: translateY(5px) rotate(45deg);}
  }
  @keyframes ham_right {
    0%{transform: translateY(0px) rotate(0deg);}
    60%{transform: translateY(-5px)}
    100%{transform: translateY(-5px) rotate(-45deg);}
  }
   */


}